<!--The content below is only a placeholder and can be replaced.-->


<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class='title'>Основные параметры</h1>
        <form action="">
          <label for="block-type">Тип блокнота</label>
          <select name="block-type" id="block-type" (change)="changeType($event.target.value)">
            <option value="блокнот на пружине">Блокнот на пружине</option>
            <option value="блокнот на клею">Блокнот на клею</option>
          </select>
          <label for="format">Формат</label>
          <select name="format" id="format" (change)="changeFormat($event.target.value)">
            <option value="A4">А4</option>
            <option value="A5">А5</option>
          </select>
          <label>Навивка</label>
          <select (change)="changeNavivka($event.target.value)">
            <option value="вертикальная">вертикальная</option>
            <option value="горизонтальная">горизонтальная</option>
          </select>
          <label for="">Количество листов</label>
          <input type="text" [(ngModel)] = "paperCount" name="papersCount" id="papersCount" (change)="updatePrice()">
          <label for="">Тираж</label>
          <input type="text" [(ngModel)]="copies" name="copies" id ="copies" (change)="updatePrice()">
        </form>
      </div>
      <div class="column">
        <h1 class='title'>Блок</h1>
        <form action="">
          <label for="">Бумага</label>
          <select name="" id="" (change)="changeBlockPaper($event.target.value)">
            <option value="80 гр.">80 гр.</option>
            <option value="100 гр.">100 гр.</option>
          </select>
          <label>Цветность</label>
          <select (change)="changeBlockChromaticity($event.target.value)">
            <option value="0+0">0 + 0</option>
            <option value="4+0">4 + 0</option>
            <option value="4+4">4 + 4</option>
          </select>
        </form>
        <h1 class='title'>Обложка</h1>
        <form action="">
          <label for="paperOblojka">Бумага</label>
          <select id="paperOblojka" (change)="changeCoverPaper($event.target.value)">
            <option value="200 гр.">200</option>
            <option value="250 гр.">250</option>
          </select>
          <label for="colornestOblojka">Цветность</label>
          <select name="colornestOblojka" id="colornestOblojka" (change)="changeCoverChromaticity($event.target.value)">
            <option value="0+0">0 + 0</option>
            <option value="4+0">4 + 0</option>
            <option value="4+4">4 + 4</option>
          </select>
        </form>
      </div>
      <div class="column">
        <h1 class='title'>Дополнительные параметры</h1>
        <label class="switch">Ламинация</label>
        <input type="checkbox">
        <span class="slider"></span>
        <label class="switch">УФ лак</label>
        <input type="checkbox">
        <span class="slider"></span>
        <div class="result title is-3">{{resultPrice}}</div>
      </div>

    </div>
  </div>
</section>

